body {
    margin: 0;
}

canvas.webgl {
    left: 0;
    position: fixed;
    top: 0;
    outline: none;
}

html {
    background-color: #1e1a20;
}

section:nth-child(odd) {
    justify-content: flex-end;
}

#instructions {
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: Monospace;
    gap: 1.5em;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 2em;
    position: fixed;
    top: 0;
    width: 100%;

    & > div {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    button {
        &.credits {
            background-color: transparent;
            border: 2px solid white;
            border-radius: 1em;
            color: white;
            font-weight: bold;
            margin: 2em 0;
            padding: 0.7em 1.5em;
            transition: background-color 0.5s ease;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
    h2 {
        font-size: 1.9em;
        margin: 0;
        text-align: center;
        user-select: none;
    }
    p {
        font-size: 1.15em;
        margin: 0;
        text-align: center;
        user-select: none;
    }
}

.credits {
    h3 {
        font-size: 1.1em;
    }
    .author {
        list-style: none;
    }
}

.modal {
    .modal-dialog {
        .modal-header {
            .modal-title {
                color: white;
            }
        }
        .modal-body {
            h3, li, p, strong {
                color: white;
            }
        }
    }
}

.section {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}
