

body {
    margin: 0;
}

canvas.webgl {
    left: 0;
    position: fixed;
    top: 0;
    outline: none;
}

html {
    background-color: #1e1a20;
}

section:nth-child(odd)
{
    justify-content: flex-end;
}

.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a {
    color: #8ff;
}

body {
    background-color: lighten(black, 10%) ; // #6c757d;
    font-family: 'Roboto', sans-serif;
}

button {
    &:focus, &:focus-visible {
        outline: none;
    }
}

#container {
    position: relative;
}

#info {
    padding: 1em 2em;
    width: 100%;

    img {
        display: none;
        margin: 0 auto;
        max-width: 100%;
    }
    .video-container {
        display: none;
        margin: 1em auto 3em;
        max-width: 720px;
        width: 100%;

        .video {
            height: 0;
            overflow: hidden;
            padding-bottom: 56.25%;
            position: relative;

            iframe {
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 50;
            }
        }
    }
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0 0 0;

    button {
        background-color: darken(rgb(0, 255, 255), 20%);
        border: 0;
        border-radius: 0.7em;
        color: white;
        font-weight: bold;
        padding: 0.5em 1em;
    }
}

.element {
    border: 1px solid rgba(127,255,255,0.25);
    box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    height: 160px;
    line-height: normal;
    opacity: 0.5;
    text-align: center;
    transition: all 0.5s ease;

    &:hover {
        border: 1px solid rgba(127,255,255,0.75);
        box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
        opacity: 1;
    }
}
.origin {
    height: 150px;
    text-align: center;
    width: 700px;

    &::before {
        color: white;
        font-size: 100px;
        content: 'V Á N D A L O';
        width: 100%;
        text-align: center;
    }
}