# Prettier configuration

printWidth: 1000
singleQuote: true
tabWidth: 4
useTabs: false

# js and ts rules:
arrowParens: avoid

# jsx and tsx rules:
bracketSameLine: true

# java rules:
overrides:
  - files: "*.java"
    options:
      tabWidth: 4